.stock-detail-header {
  display: flex;
  gap: 0.6rem;

  .stocks-select {
    width: 16rem;
    border: 1px solid #000;
    border-radius: 0.3rem;
  }

  .stock-owned {
    width: 14.4rem;
    border: 1px solid #000;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  .stock-price {
    width: 15rem;
    border: 1px solid #000;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.2rem;

    .stock-change-percentage {
      font-size: 0.8rem;
      margin-top: 0.3rem;
    }
  }

  .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    width: 12rem;
    height: 2rem !important;
  }

  .buy-button, .sell-button {
    width: 6rem;
    font-size: 1.2rem;
  }
}

#current-stock {
  display: flex;
  align-items: center;
}

.stock-logo {
  border: 1px solid #4B164C;
  color: #4B164C;
  background-color: #F8E7F6;
  padding: 0.2rem;
  margin-right: 0.5rem;
}
