.stock-detail-box {
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    margin-top: 0.6rem;

    .stock-graph {
        width: 75%;
    }

    .history-notification-box {
        width: 25%;
        
        .history, .notification {
            border: 1px solid #000;
        }

        .history {
            margin-bottom: 0.6rem;
            height: 19rem;
        }

        .notification {
            height: 16.2rem;
        }
    }
}