header {
  background-color: #4b164c;
  position: sticky;
  top: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 10;

  #app-name-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      object-fit: contain;
      height: 6rem;
      width: 9rem;
    }
  }

  #hamburger-menu {
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .header-buttons {
    display: none;
    align-items: center;
    gap: 0.5rem;

    .user-dropdown-menu {
      border-radius: 50%;
      min-width: 1rem;

      .user-profile-image {
        object-fit: contain;
        width: 3rem;
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .header-buttons {
    display: flex !important;
  }

  #hamburger-menu {
    display: none;
  }
}
