#stocks-table {
  width: 80%;
  height: 29rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #table-boundary {
    #table-head {
      border-bottom: 2px solid black;
    }
  }
}

#table-cell {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #468ccd;
    text-decoration-thickness: 0.1rem;
    text-decoration-skip-ink: none;
  }
}

.table-cell-head {
  padding: 0.2rem 1rem 0.2rem 1rem !important;
  font-weight: 700 !important;
}

.table-action-buttons-group {
  background-color: transparent;
  border: none;

  .table-action-icons-group {
    margin-right: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 415px) {
  #stocks-table {
    width: 82%;
    height: 35rem;
  }
}
